html(lang="en")
  head
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    //script(src="/js/jquery-3.3.1.min.js")
  h1 Password Reset Submitted
  p If there is a email in the system for that password a reset email has been sent
