html
	head
		title Test data submission
		link(rel='stylesheet', href='/css/style.css', type='text/css')
		script(src="/js/jquery-3.3.1.min.js")
		script(src="/js/scripts.js")
	body
		form
			h1 Data upload tests
			p collection
			select#collection
				option(value="person_data") person_data
				option(value="order") order
				option(value="invoice") invoice
				option(value="account") account
				option(value="company") company
				option(value="host") host
				option(value="requirements") requirements
				option(value="requirement_item", selected) requirement item
			br
			p.op id
			input.op#id(type="text", value="5ecd4bcbd847184b75270ec0")
			p.op Delete - id
			input.op#delete_id(type="text", value="")
			p.op order #
			input.op#order(type="text", value="1")
			p.op invoice #
			input.op#invoice(type="text", value="1")
			p.op account
			input.op#account(type="text", value="5ec14ea47a3306113e1811cf")
			p.op name
			input.op#name(type="text", value="default")
			p.op host
			input.op#host(type="text", value="localhost:8080")
			p.op company
			input.op#company(type="text", value="5ec82c958be52a1508008717")
			p.op From
			input.op#from(type="text", value="GBR")
			p.op To
			input.op#to(type="text", value="CHN")
			p.op For
			input.op#for(type="text", value="Business")
			p.op requirement item
			input.op#item(type="text", value="5ec82c958be52a1508008714")
			br
			a.post(href='/api') Post
			a.put(href='/api') Put
			a.patch(href='/api') Patch
			a.get(href='/api') Get
			a.delete(href='/api') Delete
		div.url
		textarea.output
