include ../includes/greeting.pug
p Please click the link to reset the password.  This link is valid for 15 minutes only.
a(href=`${link}`) Click this link to reset
p or paste this into your browsers address bar:
p #{link}
