html
  head
    title Test data submission
    link(rel='stylesheet', href='/css/style.css', type='text/css')
    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/scripts.js")
  body
    h1 Data upload tests
    a#post(href='/api') Post
    br
    a#put(href='/api') Put
    br
    a#patch(href='/api') Patch
    br
    a#get(href='/api') Get
    br
    a#delete(href='/api') Delete
    br
